<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.BlogTagMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.BlogTag">
    <!--@mbg.generated-->
    <!--@Table blog_tag-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="blog_id" jdbcType="BIGINT" property="blogId" />
    <result column="tag_id" jdbcType="BIGINT" property="tagId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, blog_id, tag_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from blog_tag
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from blog_tag
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.entity.BlogTag">
    <!--@mbg.generated-->
    insert into blog_tag (id, blog_id, tag_id
      )
    values (#{id,jdbcType=BIGINT}, #{blogId,jdbcType=BIGINT}, #{tagId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.entity.BlogTag">
    <!--@mbg.generated-->
    insert into blog_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="blogId != null">
        blog_id,
      </if>
      <if test="tagId != null">
        tag_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="blogId != null">
        #{blogId,jdbcType=BIGINT},
      </if>
      <if test="tagId != null">
        #{tagId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.entity.BlogTag">
    <!--@mbg.generated-->
    update blog_tag
    <set>
      <if test="blogId != null">
        blog_id = #{blogId,jdbcType=BIGINT},
      </if>
      <if test="tagId != null">
        tag_id = #{tagId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.entity.BlogTag">
    <!--@mbg.generated-->
    update blog_tag
    set blog_id = #{blogId,jdbcType=BIGINT},
      tag_id = #{tagId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <insert id="insertList">
    insert into blog_tag(id,blog_id,tag_id)
    values
    <foreach collection="relationList" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT},#{item.blogId,jdbcType=BIGINT},#{item.tagId,jdbcType=INTEGER})
    </foreach>
    </insert>
</mapper>