<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.Category">
    <!--@mbg.generated-->
    <!--@Table category-->
    <id column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="category_rank" jdbcType="INTEGER" property="categoryRank" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="delete_flag" jdbcType="BOOLEAN" property="deleteFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    category_id, category_name, category_rank, create_time, delete_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from category
    where category_id = #{categoryId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from category
    where category_id = #{categoryId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.entity.Category">
    <!--@mbg.generated-->
    insert into category (category_id, category_name, category_rank, 
      create_time, delete_flag)
    values (#{categoryId,jdbcType=BIGINT}, #{categoryName,jdbcType=VARCHAR}, #{categoryRank,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=BOOLEAN})
  </insert>
  <insert id="insertSelective" parameterType="com.example.entity.Category">
    <!--@mbg.generated-->
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="categoryName != null">
        category_name,
      </if>
      <if test="categoryRank != null">
        category_rank,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryRank != null">
        #{categoryRank,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BOOLEAN},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.entity.Category">
    <!--@mbg.generated-->
    update category
    <set>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryRank != null">
        category_rank = #{categoryRank,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BOOLEAN},
      </if>
    </set>
    where category_id = #{categoryId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.entity.Category">
    <!--@mbg.generated-->
    update category
    set category_name = #{categoryName,jdbcType=VARCHAR},
      category_rank = #{categoryRank,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BOOLEAN}
    where category_id = #{categoryId,jdbcType=BIGINT}
  </update>

  <delete id="increatCategoryRank">
    <!--@mbg.generated-->
    update category
    <set>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryRank != null">
        category_rank = #{categoryRank,jdbcType=INTEGER} + 1,
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
    </set>
    where category_id = #{categoryId,jdbcType=INTEGER}
    </delete>
</mapper>